@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: 'Roboto', system-ui;
  background-color: #fff;
  font-style: normal;
}

.apps {
  border: 1px solid rgba(51, 51, 51, 0.2);
  border-radius: 3px;
  padding: 24px 12px;
}

.grid {
  /*  hệ thống lưới*/
  width: 100%;
  display: block;
  padding: 0;
}

.grid.wide {
  /* max-width: 1200px; */
  margin: 0 auto;
}

.row {
  /* dòng*/
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.col {
  /* cột*/
  padding-left: 12px;
  padding-right: 12px;
}

.row.no-gutters .col {
  padding-left: 0;
  padding-right: 0;
}

.c-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.c-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.c-o-6 {
  margin-left: 50%;
}

/* >= Tablet */
@media (min-width: 740px) {
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }

  .col {
    padding-left: 8px;
    padding-right: 8px;
  }

  .m-0 {
    display: none;
  }

  .m-6 {
    display: block;
  }

  .m-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .m-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .m-o-6 {
    margin-left: 50%;
  }
}

/* PC medium resolution > */
@media (min-width: 1113px) {
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }

  .row.sm-gutter {
    margin-left: -12px;
    margin-right: -12px;
  }

  .col {
    padding-left: 12px;
    padding-right: 12px;
  }

  .row.sm-gutter .col {
    padding-left: 12px;
    padding-right: 12px;
  }

  .l-0 {
    display: none;
  }

  .l-6,
  .l-12 {
    display: block;
  }

  .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .l-o-6 {
    margin-left: 50%;
  }
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
  .wide {
    width: 644px;
  }
}

/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
  .wide {
    width: 984px;
  }

  .wide .row {
    margin-left: -12px;
    margin-right: -12px;
  }

  .wide .row.sm-gutter {
    margin-left: -12px;
    margin-right: -12px;
  }

  .wide .col {
    padding-left: 12px;
    padding-right: 12px;
  }

  .wide .row.sm-gutter .col {
    padding-left: 12px;
    padding-right: 12px;
  }

  .wide .l-0 {
    display: none;
  }

  .wide .l-6,
  .wide .l-12 {
    display: block;
  }

  .wide .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .wide .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .wide .l-o-6 {
    margin-left: 50%;
  }
}
